<footer>
    <div id="footer">
        <div id="leftFooter">
            <img src="images/facebook.png" alt="facebook">
            <img src="images/instagram.png" alt="instagram">
            <img src="images/twitter.png" alt="twitter">
        </div>
        <div id="rightFooter"></div>
    </div>
</footer>