<footer>
    <div id="footer">
        <div id="leftFooter">
            <p class="contact-footer">ADDRESS</p>
            <p class="contact-footer">18,Shib Chandra Chatterjee Street,</p>
            <p class="contact-footer">Belurmath, Howrah-711202</p>
        </div>
        <div id="midFooter">
            <a href="#"><img src="images/facebook.png" alt="facebook"></a>
            <a href="https://www.instagram.com/pan.trypal"><img src="images/instagram.png" alt="instagram"></a>
            <a href="https://twitter.com/pal_pantry"><img src="images/twitter.png" alt="twitter"></a>
        </div>
        <div id="rightFooter">
            <p class="contact-footer">PANTRY PALS</p>
            <p class="contact-footer">+91 81004 66692</p>
            <p class="contact-footer">palpantry7@gmail.com</p>
        </div>
    </div>
</footer>