<navbar id="navigationBar" class="body">
    <div id="navigationBarFirst">
        <a href="/index" id="siteName">PantryPals</a> 
    </div>
    <div id="navigationBarSecond">
        <a href="/index" class="navbarBtn"><i class="fa-solid fa-house"></i>Home</a>
        <a href="/aboutus" class="navbarBtn">About Us</a>
        <a href="/contactus" class="navbarBtn">Contact Us</a>
        <a href="/contribute" id="contriBtn" >Contribute</a>
        <a href="/register" class="navbarBtn" >Join Us</a>
    </div>
</navbar>