#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(202, 118, 15);
    width: fit-content;
    background-color: rgba(253, 253, 253, 0.8);
    margin: 20px;
    padding: 25px;
    border-radius: 20px;
}

.informationInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#donationType {
    display: flex;
    flex-direction: row;
}

#left, #right {
    display: flex;
    flex-direction: column;
}