#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headingText {
    margin: 0px 0px 20px 12px;
    font-size: 73px;
    align-self: flex-start;
    color: rgb(255, 84, 84);
    text-shadow: 1px 1px black;
}

.headingText2 {
    margin: 170px 0px 8px 10px;
    align-self: flex-start;
    font-size: 35px;
    color: rgb(255, 84, 84);
    text-shadow: 1px 1px black;
}

#quote {
    margin: 11px 0px 25px 0px;
    font-size: 40px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
}

#quoteName {
    font-size: 30px;
    text-align: right;
    padding-right: 160px;
    align-self: last baseline;
}

.para {
    margin: 10px;
    color: rgb(216, 89, 16);
    text-align: center;
    font-size: 24px;
}

#homeContriBtn {
    text-shadow: 1px 1px black;
    text-decoration: none;
    color: white;
    background-color: #0f1111;
    padding: 15px 25px;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(270deg, #ff994f, #0dd56a);
    border-radius: 20px;
    border: 2px solid white;
    margin: 20px;
}

.container {
    margin: 60px 0px 140px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.rightContainer {
    margin: 0px 50px;
}